<style>
    .navbar-brand .logo {
        width: 50px;
        margin-top: -15px;
        float: left;
        margin-right: 10px;
    }

    .navbar-default .navbar-nav> li> a {
        color: #333;
        font-weight: 700;
    }

    .navbar-default .navbar-nav> li> a:hover {
        color: #FFCB2B;
        font-weight: 700;
        background-color: #ECF0F1;
    }

    .menu-spacer {
        s margin-top: 55px;
        margin-bottom: 55px;
    }

    .header {
        -webkit-box-shadow: 0px 4px 5px 0px #565c5d;
        -moz-box-shadow: 0px 4px 5px 0px #565c5d;
        box-shadow: 0px 4px 5px 0px #565c5d;
    }
    .navbar {
      z-index: 1010!important;
    }
</style>
<div id="header" class="header navbar navbar-default navbar-fixed-top">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
            <a ui-sref="home" class="navbar-brand">
                <img ng-show="false" src="https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/34-128.png" class="logo" alt="">
                <strong class="" style="font-weight: 900!important;">First-Seen</strong>
            </a>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        <!-- begin navbar-right -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs">About</span>
                </a>
            </li>
            <li>
                <a ui-sref="demo" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs">Demo</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs">Products & Services</span>
                </a>
            </li>
            <li>
                <a ui-sref="pricing" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs">Pricing</span>
                </a>
            </li>
            <li>
                <a href="/login" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs"><i class="zmdi zmdi-lock"></i> Login</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" data-click="right-sidebar-toggled">
                    <i class="fa fa-align-left"></i>
                </a>
            </li>
        </ul>
        <!-- end navbar-right -->
    </div>
    <!-- end container-fluid -->
</div>
