<!doctype html>
<html class="no-js" lang="" ng-app="businessApp">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{page.page_title}}</title>
      <!-- import header  resources -->
      {{> all_header_resources      }}
      {{> business_header_resources }}
      <!-- /import header resources -->
    </head>
    <body>
      <!-- import content resources -->
      {{> business_content_template }}
      <!-- import content resources -->
      <!-- import footer resources -->
      {{> all_footer_resources      }}
      {{> business_footer_resources }}
      <!-- /import footer resources -->
    </body>
</html>
