<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Add your site or application content here -->
<!-- Add your site or application content here  
<script src="boilerplate/js/plugins.js"></script>
<script src="boilerplate/js/main.js"></script>
<script src="boilerplate/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script> -->
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
