<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
<script src="https://cdn.jsdelivr.net/angularjs/1.4.5/angular-animate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-alpha.4/angular-ui-router.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="../assets/js/jquery.mask.js"></script>
<script type="text/javascript" src="../page_apps/business/app.js"></script>
{{#controllers}}
<script type="text/javascript" src="../page_apps/business/controllers/{{.}}"></script>
{{/controllers}}
