<!-- theme  -->
<link rel="stylesheet" href="../assets/theme_get_leads/css/style.css">
<!-- /theme -->
<!-- fonts -->
<link rel="stylesheet" href="../assets/theme_remark/global/fonts/weather-icons/weather-icons.css">
<link rel="stylesheet" href="../assets/theme_remark/global/fonts/web-icons/web-icons.min.css">
<link rel="stylesheet" href="../assets/theme_remark/global/fonts/brand-icons/brand-icons.min.css">
<!-- /fonts -->
<!-- sinister -->
<link rel="stylesheet" href="../assets/css/sinister/css/sinister.css">
<link rel="stylesheet" href="../assets/css/sinister/css/animate.min.css">
<link rel="stylesheet" href="../assets/css/js/fancyBox/jquery.fancybox.css" type="text/css" media="screen" />
<!-- /sinister -->
