<!-- CONTENT: Login Template  -->
<div class="login">
  <!-- begin login-brand -->
  <div class="login-brand bg-inverse text-white">
    Login - Admin Panel
  </div>
  <!-- end login-brand -->
  <!-- begin login-content -->
  <div class="login-content">

    <form action="/api/login" method="POST"  class="form-input-flat">
      <div class="form-group">
        <input type="text"  name="auth_username" class="form-control input-md" placeholder="Email Address">
      </div>
      <div class="form-group">
        <input type="password"  name="auth_password" class="form-control input-md" placeholder="Password">
      </div>
      <div class="row m-t-10 m-b-10">
          <div class="col-xs-4 col-sm-3 col-md-3">
            <span class="button-checkbox">
              <button type="button" class="btn btn-default" data-color="info" tabindex="7"><i class="state-icon glyphicon glyphicon-unchecked"></i>I Agree</button>
              <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
            </span>
          </div>
          <div class="col-xs-8 col-sm-9 col-md-9">
            Keep me logged in on this machine for 10 days (Not-Recommended).
          </div>
      </div>
      <div class="row m-b-20">
        <div class="col-md-12">
          <button type="submit" value="submit" class="btn btn-lime btn-md btn-block">Login</button>
        </div>
      </div>
      <div class="text-center">
        New here? <a href="/register" class="text-muted">Create a new account</a>
      </div>
    </form>
  </div>
  <!-- end login-content -->
</div>
<!-- CONTENT: Login Template  -->
