<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="bootstrap admin template">
<meta name="author" content="">
<!-- stylesheets -->
<link rel="stylesheet" href="../assets/theme_remark/global/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/theme_remark/global/css/bootstrap-extend.min.css">
<link rel="stylesheet" href="../assets/theme_remark/assets/css/site.min.css">
<!-- stylesheets -->
<!-- plugins -->
<link rel="stylesheet" href="../assets/theme_remark/global/vendor/animsition/animsition.css">
<link rel="stylesheet" href="../assets/theme_remark/global/vendor/asscrollable/asScrollable.css">
<link rel="stylesheet" href="../assets/theme_remark/global/vendor/switchery/switchery.css">
<link rel="stylesheet" href="../assets/theme_remark/global/vendor/intro-js/introjs.css">
<link rel="stylesheet" href="../assets/theme_remark/global/vendor/slidepanel/slidePanel.css">
<link rel="stylesheet" href="../assets/theme_remark/global/vendor/flag-icon-css/flag-icon.css">
<link rel="stylesheet" href="../assets/theme_remark/global/vendor/chartist-js/chartist.css">
<link rel="stylesheet" href="../assets/theme_remark/global/vendor/jvectormap/jquery-jvectormap.css">
<link rel="stylesheet" href="../assets/theme_remark/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
<link rel="stylesheet" href="http://getbootstrapadmin.com/remark/material/base/assets/examples/css/dashboard/v1.min.css?v2.2.0">
<!-- /plugins -->
<!-- fonts -->
<link rel="stylesheet" href="../assets/theme_remark/global/fonts/weather-icons/weather-icons.css">
<link rel="stylesheet" href="../assets/theme_remark/global/fonts/web-icons/web-icons.min.css">
<link rel="stylesheet" href="../assets/theme_remark/global/fonts/brand-icons/brand-icons.min.css">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
<!-- /fonts -->
<!--[if lt IE 9]>
  <script src="../assets/theme_remark/global/vendor/html5shiv/html5shiv.min.js"></script>
  <![endif]-->
<!--[if lt IE 10]>
  <script src="../assets/theme_remark/global/vendor/media-match/media.match.min.js"></script>
  <script src="../assets/theme_remark/global/vendor/respond/respond.min.js"></script>
  <![endif]-->
<!-- Scripts -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="../assets/theme_remark/global/vendor/modernizr/modernizr.js"></script>
<script src="../assets/theme_remark/global/vendor/breakpoints/breakpoints.js"></script>
<script>
Breakpoints();
</script>
<script src="../assets/theme_remark/assets/examples/js/dashboard/v1.js"></script>
