<style>
   .hero-unit {
   padding-top: 120px;
   background-size:cover;
   background-color: #2c3e50;
   color: #fff!important;
   height:300px;
   padding: 50px;
   }
   .menu-spacer-demo{
   margin-top: 80px;
   margin-bottom: 55px;
   }
   #demo-clear{
     margin-bottom: 110px;
   }
</style>
<!-- import menu -->
<div ng-include src="'../page_apps/business/snippets/bits/menu.html'"></div>
<!-- /import menu -->
<!-- hero-unit -->
<div class="menu-spacer-demo"></div>
<div class="container">
   <span  class="col-md-4">
     <iframe width="853" height="500" src="https://my.matterport.com/show/?m=fRGL4VSosLW" frameborder="0" style="width: 100%;" allow-fullscreen></iframe>
   </span>
   <span class="col-md-8">
      <form id="demo-clear" class="form-horizontal panel well bg-white form-input-flat">
         <fieldset>
            <!-- Form Name -->
            <legend><b>Book A Demo</b></legend>
            <!-- Text input-->
            <!-- Text input-->
            <div class="form-group">
               <label class="col-md-4 control-label" for="bookstart">Requested Time</label>
               <div class="col-md-8">
                  <input id="bookstart" name="bookstart" type="text" placeholder="time" class="form-control input-md" required="">
               </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
               <label class="col-md-4 control-label" for="booktype">Venue</label>
               <div class="col-md-8">
                  <input id="booktype" name="booktype" type="text" placeholder="type" class="form-control input-md" required="">
               </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
               <label class="col-md-4 control-label" for="bookname">Full Name</label>
               <div class="col-md-8">
                  <input id="bookname" name="bookname" type="text" placeholder="name" class="form-control input-md" required="">
               </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
               <label class="col-md-4 control-label" for="bookmobile">Mobile Number</label>
               <div class="col-md-8">
                  <input id="bookmobile" name="bookmobile" type="text" placeholder="mobile" class="phone_with_ddd form-control input-md" required="">
               </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
               <label class="col-md-4 control-label" for="booktel">Telephone Number</label>
               <div class="col-md-8">
                  <input id="booktel" name="booktel" type="text" placeholder="telephone" class="form-control input-md  phone_with_ddd" required="">
               </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
               <label class="col-md-4 control-label" for="bookeml">Email</label>
               <div class="col-md-8">
                  <input id="bookeml" name="bookeml" type="text" placeholder="email" class="form-control input-md" required="">
               </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
               <label class="col-md-4 control-label" for="bookaddress">Postal Address</label>
               <div class="col-md-8">
                  <textarea class="form-control" id="bookaddress" name="bookaddress"></textarea>
               </div>
            </div>
            <div class="form-group pull-right">
               <div class="col-md-8">
                  <a class="btn btn-success btn-md">Submit</a>
               </div>
            </div>
         </fieldset>
      </form>
   </span>
</div>

<div ng-include src="'../page_apps/business/snippets/bits/footer.html'"></div>
<script>
   $(document).ready(function(){
     $('.phone_with_ddd').mask('1-(000) 000-0000');
   });
</script>
