<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<style>
.navbar.bg-transparent {
  background-color: #34495e;
  border: none;
  box-shadow: none;
  color: #fff;
}
   .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
   zoom: 1;
   filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000');
   background: transparent;
   background: #27ae60;
   background-image:url('http://getbootstrapadmin.com/remark/assets/images/back.png');
   }
   .hero-leadbox .form-horizontal {
      padding: 30px 40px 10px;
      border-radius: 5px;
      box-shadow: -2px -2px 6px 0 rgba(0,0,0,.1);
      background-color: #525e6c;
      background-color: rgba(0, 0, 0, 0.57);
  }
   body {
   font-size: 16px;
   line-height: 20px;
   background-color: #EDEFED;
   color: #484848;
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
   padding: 0;
   margin: 0;
   }
   .navbar.bg-transparent .navbar-nav>li>a, .navbar.bg-color .navbar-nav>li>a {
     color: #FFFFFF;
    opacity: 1;
   }
   .navbar-brand>img {
   display: block;
   }
   @media (min-width: 992px){
   .modal-lg {
   width: 1050px;
   }
   }
   .modal-body {
   position: relative;
   padding: 15px;
   background-color: #ecf0f1;
   }
   .product-img{
   width: 110px!important;
   height: 100px!important;
   }
   .panel-example-tour {
   margin-bottom: 20px;
   background-color: #fff;
   border: 1px solid transparent;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
   box-shadow: 0 1px 1px rgba(0,0,0,.05);
   margin: 9px;
   padding: 10px;
   width: 31.7%;
   }
   .price-line {
     border-top: 3px solid #eee;
   }
   .check-list li:before {
   font-family: "FontAwesome";
     content: "\f02b";
     margin-right: 5px;
     margin-left: -1.3em;
   }
</style>
<div style="visibility:hidden" class="loader bg-blue-dark">
   <div class="loader-inner ball-scale-ripple-multiple vh-center">
      <div></div>
      <div></div>
      <div></div>     
   </div>
</div>
<div class="main-container" id="page">
   <header id="nav1-3">
      <nav class="navbar navbar-fixed-top bg-transparent" id="main-navbar">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a src="../assets/theme_get_leads/#" class="navbar-brand logo-black smooth-scroll"><img src="http://www.themedept.com/demo/getleads/images/logo-black.png" alt="logo"/></a>
               <a src="../assets/theme_get_leads/#" class="navbar-brand logo-white smooth-scroll"><img src="http://www.themedept.com/demo/getleads/images/logo-black.png" alt="logo"/></a>
            </div>
            <div class="collapse navbar-collapse cta-header" id="navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                  <li><a src="../assets/theme_get_leads/#content7-1" class="smooth-scroll">About</a></li>
                  <li><a src="../assets/theme_get_leads/#features4-1" class="smooth-scroll">Products Services</a></li>
                  <li><a src="../assets/theme_get_leads/#features4-1" class="smooth-scroll">Pricing</a></li>
                  <li><a src="../assets/theme_get_leads/#portfolio3-1" class="smooth-scroll">Work</a></li>
                  <li class="dropdown">
                     <a id="dLabel" data-toggle="dropdown" data-target="#" src="../assets/theme_get_leads/#">
                     Extra Pages <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu multi-level" role="menu">
                        <li><a src="../assets/theme_get_leads/blog-list.html">Blog List</a></li>
                        <li><a src="../assets/theme_get_leads/blog-single.html">Blog Single</a></li>
                        <li><a src="../assets/theme_get_leads/faq.html">Faq</a></li>
                        <li><a src="../assets/theme_get_leads/terms.html">Terms</a></li>
                        <li><a src="../assets/theme_get_leads/login.html">Login Page</a></li>
                        <li><a src="../assets/theme_get_leads/signup.html">Signup Page</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                           <a tabindex="-1" src="../assets/theme_get_leads/#">Other Demos</a>
                           <ul class="dropdown-menu">
                              <li><a src="../assets/theme_get_leads/consulting.html">Consulting</a></li>
                              <li><a src="../assets/theme_get_leads/webservice.html">Web Service</a></li>
                              <li><a src="../assets/theme_get_leads/agency.html">Agency</a></li>
                              <li><a src="../assets/theme_get_leads/elearning.html">E-Learning</a></li>
                              <li><a src="../assets/theme_get_leads/medical.html">Medical</a></li>
                              <li><a src="../assets/theme_get_leads/app.html">App</a></li>
                              <li><a src="../assets/theme_get_leads/event.html">Event</a></li>
                              <li><a src="../assets/theme_get_leads/yoga.html">Yoga</a></li>
                           </ul>
                        </li>
                     </ul>
                  </li>
                  <li><a src="../assets/theme_get_leads/#hero9" class="btn-nav btn-blue text-white smooth-scroll" style="color:#fff">Get Quick Quote</a></li>
                  <li><a src="../assets/theme_get_leads/#hero9" class="btn-nav btn-grey text-white smooth-scroll" style="color:#fff;margin-left:10px;"><i class="icon wb-lock" aria-hidden="true"></i> Login</a></li>
               </ul>
            </div>
         </div>
      </nav>
   </header>
   <section id="hero9" class="bg-img hero-leadbox p-t-lg p-b-md content-align-md" style="background-image:url('images/carpenter1.jpg');">
      <div class="overlay"></div>
      <div class="container">
         <div class="row y-middle">
            <div class="col-sm-12 col-md-7 center-md text-white">
               <h1>Book online. Scanned in days!</h1>
               <p class="lead m-b-md">FirstSeen Tours by FirstSeen are the best way to show of your property. Learn more about the new features on our  blog!</p>
            </div>
            <div class="col-sm-12 col-md-5">
               <form class="form-horizontal form-white text-white" id="quoteForm">
                  <h4 class="center-md">Book A Demo Now</h4>
                  <p class="center-md m-b-md">Just fill-in the form below and we will get in touch with you as soon as possible.</p>
                  <p class="success qf"><i class="fa fa-check"></i> <strong>Your quote has successfully been sent.</strong></p>
                  <p class="failed qf"><i class="fa fa-exclamation-circle"></i><strong> Something went wrong!</strong></p>
                  <div class="form-group">
                     <input type="text" class="form-control" id="qName" placeholder="Name" required>
                  </div>
                  <div class="form-group">
                     <input type="email" class="form-control" id="qEmail" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                     <input type="tel" class="form-control mask-phone" id="qPhone" placeholder="Phone Number" required>
                  </div>
                  <div class="form-group">
                     <textarea id="qMessage" rows="5" class="form-control" placeholder="Comment" style="resize:none;" required></textarea>
                  </div>
                  <div class="form-group">
                     <button type="submit" class="btn btn-red">BOOK A DEMO!</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </section>
   <section id="content7-1" class="p-y-md bg-edit">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <div class="section-header text-center wow fadeIn">
                  <h2>Premium Virtual Tours</h2>
                  <p class="lead">Showcase your Residential, Commerical, Or Recreational space with our top of the line Virtual Tours. </p>
               </div>
            </div>
         </div>
         <div class="row features-block">
            <iframe width="853" height="500" src="https://my.matterport.com/show/?m=v1tNGBQxWxn" frameborder="0" style="width: 100%;" allow-fullscreen></iframe>
         </div>
      </div>
   </section>
   <section id="content7-1" class="bg-edit">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <div class="section-header text-center wow fadeIn">
                  <h2>Our Products and Services</h2>
                  <p class="lead">Sapiente soluta reprehenderit impedit numquam error. Architecto perferendis molestiae ratione dolorem repudiandae laboriosam. Iste reiciendis cumque.</p>
               </div>
            </div>
         </div>
         <div class="row features-block">
            <div class="col-sm-6 img-left m-b-md clearfix">
               <img class="product-img" src="https://avatars2.githubusercontent.com/u/3730757?v=3&s=280" alt="">
               <h5 class="m-t f-w-900">FirstSeeen Tour</h5>
               <p>Odit non officiis vitae eaque quo temporibus blanditiis excepturi facilis, dolore provident et eligendi ut asperiores perferendis, maxime optio tempora.</p>
            </div>
            <div class="col-sm-6 img-left m-b-md clearfix">
               <img class="product-img" src="https://avatars2.githubusercontent.com/u/3730757?v=3&s=280" alt="">
               <h5 class="m-t f-w-900">FirstSeeen Compass</h5>
               <p>Omnis nam quibusdam fugiat consectetur quasi iste, aspernatur eaque doloremque, magni dolores deserunt impedit fugit error consequuntur esse. </p>
            </div>
         </div>
         <div class="row features-block">
            <div class="col-sm-6 img-left m-b-md clearfix">
               <img class="product-img" src="https://avatars2.githubusercontent.com/u/3730757?v=3&s=280" alt="">
               <h5 class="m-t f-w-900">FirstSeeen Scope</h5>
               <p>Neque iure, illum consequatur quidem laudantium veritatis labore fuga inventore totam, at quos deserunt quae expedita aliquam, perspiciatis saepe.</p>
            </div>
            <div class="col-sm-6 img-left m-b-md clearfix">
               <img class="product-img" src="https://avatars2.githubusercontent.com/u/3730757?v=3&s=280" alt="">
               <h5 class="m-t f-w-900">FirstSeeen Log</h5>
               <p>Deserunt impedit fugit error consequuntur esse, deleniti libero aspernatur ad assumenda, laudantium saepe similique facere eaque.</p>
            </div>
         </div>
      </div>
   </section>
   <section id="cta3-3" class="p-y-md p-t-md bg-white" style="margin-top: 40px;">
      <div class="overlsay"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center wow fadeIn">
               <h3 class="f-w-900 m-b-md">Bring your property to the web.</h3>
               <p class="lead m-b-md">Take advantage of our state of the art technology.</p>
               <a src="../assets/theme_get_leads/#hero9" class="btn btn-shadow btn-red btn-md text-uppercase">Request a Demo Now!</a>
            </div>
         </div>
      </div>
   </section>
   <section id="portfolio3-1" class="p-t-md p-b-0">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <div class="section-header text-center">
                  <h2>Turn your project into a success story</h2>
                  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur mollitia veritatis itaque temporibus quas labore asperiores deserunt.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 content-block c3">
               <div class="col-sm-4 panel-example-tour" ng-repeat="i in [1,2,3]">
                  <img src="https://s3.amazonaws.com/static.matterport.com/mp_dotcom_wp/prod/wp-content/uploads/2016/01/18194553/Matterport_Dollhouse1.png" alt="" class="img-responsive img-rounded">
                  <h5 class="m-t">Generate More Leads</h5>
                  <p class="p-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, odio eum magni optio laborum non et accusamus, itaque, nisi sapiente impedit consequatur cum est dolorem assumenda modi, quis.</p>
                  <a src="../assets/theme_get_leads/" class="btn btn-blue btn-sm btn-block">View all Projects<i class="fa fa-arrow-right m-l"></i></a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="cta2" class="p-y-md cta bg-color bg-light m-t-lg">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center single-line">
               <p class="lead m-r-md"><span class="f-w-900">Need more examples?</span>  Explore our projects gallery.</p>
               <a src="../assets/theme_get_leads/" class="btn btn-red btn-md">View all Projects<i class="fa fa-arrow-right m-l"></i></a>
            </div>
         </div>
      </div>
   </section>
   <section id="pricing3-1" class="p-y-md bg-edit">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <div class="section-header text-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                  <h2>Choose your package</h2>
                  <p class="lead">Get serious about focusing your time. Choose the perfect Getleads plan to fit your work, your team and your requirements. Plans available for every team.</p>
                  <div class="text-center" style="margin-top: 25px;">
                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-default btn-blue">Single Scan</button>
                      <button type="button" class="btn btn-default btn-blue">Packages</button>
                      <button type="button" class="btn btn-default btn-blue">Realtor Plans</button>
                    </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row pricing-3pf">
            <div class="col-md-10 col-md-offset-1">
               <div class="col-md-4 yellow">
                  <div class="info bg-edit bg-yellow text-center text-white">
                     <h4>Basic</h4>
                     <div class="price text-edit">
                       <span class="currency">$</span>
                       499
                       <span class="cents">99</span>
                     </div>
                     <p class="p-opacity m-b-md">powerful yet minimal<br>for anyone</p>
                     <a class="btn btn-ghost smooth-scroll" href="#subscription5-1">Purchase Online</a>
                  </div>
                  <div class="details">
                     <h5 class="f-w-900">This plan includes</h5>
                     <p>This awesomeness features:</p>
                     <hr class="price-line">
                     <ul class="text-edit">
                        <li>Up to 5 team member</li>
                        <li>iOS, Android, Mac Desktop &amp; Windows Desktop App</li>
                        <li>Basic Dashboards</li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4 blue">
                  <div class="info bg-edit bg-blue text-center text-white">
                     <h4>Premium</h4>
                     <div class="price text-edit">
                        <span class="currency">$</span>
                        599
                        <span class="cents">99</span>
                     </div>
                     <p class="p-opacity m-b-md">our recommended <br>for businesses and home-sellers</p>
                     <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <button type="submit" name="submit" class="btn btn-ghost">Purchase Online</button>
                        <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
                        <input type="hidden" name="business" value="hi@themedept.com">
                        <input type="hidden" name="cmd" value="_xclick-subscriptions">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="item_name" value="GETLEADS_BUSINESS_PLAN">
                        <input type="hidden" name="a3" value="5.46">
                        <input type="hidden" name="t3" value="M">
                        <input type="hidden" name="p3" value="1">
                        <input type="hidden" name="src" value="1">
                        <input type="hidden" name="sra" value="1">
                        <input type="hidden" name="no_note" value="1">
                     </form>
                  </div>
                  <div class="details">
                     <h5 class="f-w-900 text-blue">This plan includes</h5>
                     <p class="text-blue">Everything in <strong>Free</strong>, and:</p>
                     <hr class="price-line">
                     <ul class="text-edit">
                        <li>Unlimited tasks, projects, and conversations
                        </li>
                        <li>Private teams and projects</li>
                        <li>Unlimited Dashboards</li>
                        <li>Data export</li>
                        <li>Centralized administration</li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4 red">
                  <div class="info bg-edit bg-pink text-center text-white">
                     <h4>Delux</h4>
                     <div class="price text-edit">
                        <span class="currency">$</span>
                        699
                        <span class="cents">99</span>
                     </div>
                     <p class="p-opacity m-b-md">premium with bonuses <br>for businesses and home-sellers</p>
                     <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <button type="submit" name="submit" class="btn btn-ghost">Purchase Online</button>
                        <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
                        <input type="hidden" name="business" value="hi@themedept.com">
                        <input type="hidden" name="cmd" value="_xclick-subscriptions">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="item_name" value="GETLEADS_PRO_PLAN">
                        <input type="hidden" name="a3" value="49.99">
                        <input type="hidden" name="t3" value="M">
                        <input type="hidden" name="p3" value="1">
                        <input type="hidden" name="src" value="1">
                        <input type="hidden" name="sra" value="1">
                        <input type="hidden" name="no_note" value="1">
                     </form>
                  </div>
                  <div class="details m-b-0">
                     <h5 class="f-w-900 text-pink">This plan includes</h5>
                     <p class="text-pink">Everything in <strong>Business</strong>, and:</p>
                     <hr class="price-line" style="border-color:#f04c5c!important;">
                     <ul class="text-edit m-b-0 check-list">
                        <li><i class="icon" aria-hidden="true"></i> 99.99% guaranteed uptime</li>
                        <li>Unlimited API integrations</li>
                        <li>Unlimited chat streams
                        </li>
                        <li>Unlimited data transfer</li>
                        <li>Gold support</li>
                        <li>Safe Driving controls</li>
                        <li>Activity monitoring</li>
                        <li class="m-b-0">Open rate analytics</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="testimonials4-1" class="p-y-md content-align-sm bg-edit bg-light">
      <div class="container">
         <div class="row y-middle">
            <div class="col-md-5 col-sm-6 m-b center-sm">
               <h3 class="f-w-900 m-b">What our customers says</h3>
               <h5>Quasi delectus repellat qui, atque nulla, maiores cumque pariatur</h5>
               <p class="m-b-md">Take advantage of our state of the art technology.</p>
            </div>
            <div class="col-md-5 col-sm-6 text-center testimonials-right">
               <div id="carousel-testimonial1" class="carousel slide carousel-fade carousel-testimonial-single" data-ride="carousel">
                  <ol class="carousel-indicators inverse">
                     <li data-target="#carousel-testimonial1" data-slide-to="0" class="active"></li>
                     <li data-target="#carousel-testimonial1" data-slide-to="1"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                     <div class="item active">
                        <blockquote>
                           <p class="p-opacity m-b-md f-w-700"><i class="fa fa-quote-left m-r p-opacity" style="font-size:15px"></i>Quae voluptatibus suscipit debitis, ad minus nulla odit dolor ducimus quia voluptatem! Pariatur iste, corrupti a ex adipisci est dolorem debitis. Repellendus, eius aliquid recusandae id suscipit qui labore nesciunt.<i class="fa fa-quote-right m-l p-opacity" style="font-size:15px"></i> </p>
                           <figure><img src="https://s-media-cache-ak0.pinimg.com/736x/d4/04/ed/d404ed46ff8236d11f21ad4c27cd6318.jpg" alt="" class="img-circle m-b" width="120" height="120"> </figure>
                           <cite class="p-opacity text-edit"><strong>Theresa Evans</strong>, CEO Girl Lorem </cite>
                        </blockquote>
                     </div>
                     <div class="item">
                        <blockquote>
                           <p class="p-opacity m-b-md f-w-700"><i class="fa fa-quote-left m-r p-opacity" style="font-size:15px"></i>Optio accusamus quos ratione iusto non pariatur voluptatum! Eos ipsam maxime assumenda quas, unde officia provident nam, ducimus veritatis eius suscipit, amet ullam consequatur odit sapiente.<i class="fa fa-quote-right m-l p-opacity" style="font-size:15px"></i> </p>
                           <figure><img src="https://s-media-cache-ak0.pinimg.com/736x/d4/04/ed/d404ed46ff8236d11f21ad4c27cd6318.jpg" alt="" class="img-circle m-b" width="120" height="120"> </figure>
                           <cite class="p-opacity text-edit"><strong>Justin Jordan</strong>, Ipsum Enterpreneur</cite>
                        </blockquote>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="partners3-1" class="p-y bg-edit bg-grey-dark">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center clients">
               <img src="http://www.themedept.com/demo/getleads/builder/elements/images/partner2.png" class="img-responsive" alt="">
               <img src="http://www.themedept.com/demo/getleads/builder/elements/images/partner2.png" class="img-responsive" alt="">
               <img src="http://www.themedept.com/demo/getleads/builder/elements/images/partner2.png" class="img-responsive" alt="">
               <img src="http://www.themedept.com/demo/getleads/builder/elements/images/partner2.png" class="img-responsive" alt="">
            </div>
         </div>
      </div>
   </section>
   <style>
   #footer6-1{
     color: #EFF1F4;
   }
    .footer a {
        color: #EFF1F4;
    }
   </style>
   <footer id="footer6-1" class="footer f6 p-y-md bg-edit" style="background-color:#2B2D2C;">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img src="http://www.themedept.com/demo/getleads/images/logo-black.png" alt="">
               <p class="m-t">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
               <div class="footer-social social-btn m-t-md inverse">
                  <a href="#" class="sb-facebook"><i class="icon bd-facebook"></i></a>
                  <a href="#" class="sb-google-plus"><i class="icon bd-google-plus"></i></a>
                  <a href="#" class="sb-twitter"><i class="icon bd-twitter"></i></a>
                  <a href="#" class="sb-instagram"><i class="icon bd-tumblr"></i></a>
               </div>
            </div>
            <div class="col-md-2">
               <p><strong>QUICK LINKS</strong></p>
               <ul class="footer-links m-t">
                  <li class="m-b"><a href="#" class="edit">Press</a></li>
                  <li class="m-b"><a href="#" class="edit">Terms of service</a></li>
                  <li class="m-b"><a href="#" class="edit">About</a></li>
                  <li class="m-b"><a href="#" class="edit">Contact</a></li>
               </ul>
            </div>
            <div class="col-md-2">
               <p><strong>PRODUCTS</strong></p>
               <ul class="footer-links m-t">
                  <li class="m-b"><a href="#" class="edit">FirstSeen Tours</a></li>
                  <li class="m-b"><a href="#" class="edit">FirstSeen Maps</a></li>
                  <li class="m-b"><a href="#" class="edit">FirstSeen Logs</a></li>
                  <li class="m-b"><a href="#" class="edit">FirstSeen Tower</a></li>
               </ul>
            </div>
            <div class="col-md-2">
               <p><strong>ABOUT US</strong></p>
               <ul class="footer-links m-t">
                  <li class="m-b"><a href="#" class="edit">Our Story</a></li>
                  <li class="m-b"><a href="#" class="edit">Press Center</a></li>
                  <li class="m-b"><a href="#" class="edit">Careers</a></li>
               </ul>
            </div>
         </div>
      </div>
   </footer>
</div>
<script type="text/ng-template" id="myModalContent.html" class="cleader-modal">
   <div class="modal-header">
       <h4 class="modal-title"><b>Mondrian Ottawa Condo</b> <a href="" class="pull-right text-black" style="color: #30373E;" ng-click="cancel()"><i class="zmd-fw zmdi zmdi-close-circle"></i></a></h4>
   </div>
   <div class="modal-body">
     <iframe width="853" height="500" src="https://my.matterport.com/show/?m=v1tNGBQxWxn" frameborder="0" style="width: 100%;" allow-fullscreen></iframe>
     <h5 class="m-t-10 m-b-10">
       <i class="zmdi zmdi-pin text-danger zmdi-hc-fw" style="margin-left: -7px;s"></i>128 Bank Street, Orleans Ontario Canada
       <span class="pull-right"> 1,500 Square Feet</span>
     </h5>
     <h5 class="m-b-5"><b>Description</b></h5>
     <p clas="m-t-10" style="margin-bottom: 0px;">
     As a unique building which stands out from all others around it, The Mondrian is truly a "work of art".  The building’s interior is equally as stylish as its outside, featuring a contemporary style lobby and modern units.  Floors two through six of the building are used as a parking garage while condo units reside on the remaining 18 levels. This 23-storey building features industrial-style units. Penthouse suites in this building are dual level with floor to ceiling windows.
     </p>
     <div class="text-center" ng-show="false">
             <button class="btn btn-primary">View Listing Page</button>
     </div>
   </div>
   <div class="modal-footer">
       <div class="m-t-5 m-b-5 pull-left" style="font-size: 15px;"> <i class="zmd-fw zmdi zmdi-time"></i> Estimated Job Completion Time: 40 Minutes</div>
       <button class="btn btn-danger" type="button" ng-click="cancel()">Close</button>
   </div>
</script>
<script>
   $('.mask-phone').mask('(000)-000-0000');
</script>
