<style>
    .menu-spacer-pricing {
        margin-top: 90px!important;
        margin-bottom: 55px;
    }
    .panel .panel-footer {
      border-top: 2px solid #FFFFFF;
      background: #ebeced;
    }
    .list-group-item {
        border: 2px solid #ECF0F1;
        margin-bottom: -2px;
    }
    .bg-bronze {
      background-color: #c0392b!important;
    }
    .bg-bronze:hover {
      opacity: 0.90;
      color: black;
    }
    .bg-silver {
      background-color: #F4800A!important;
    }
    .bg-silver:hover {
      opacity: 0.90;
      color: black;
    }
    .bg-gold {
      background-color: #27ae60!important;
    }
    .bg-gold:hover {
      opacity: 0.90;
      color: black;
    }
</style>
<!-- import menu -->
<div ng-include src="'../page_apps/business/snippets/bits/menu.html'"></div>
<!-- /import menu -->
<div class="menu-spacer"></div>








<div class="container menu-spacer-pricing m-b-10">
      <div class="row">
        <div class="col-md-12s">
            <div class="panel panel-primary">
                <div class="panel-body">
                  <h3 class="m-t-0"><b>Price Estimator</b></h3>
                  <span>Use our pricing calculator to get an estimate for your costs. All unit costs are billed at the rate of the underlying MetterPort Platform.</span>

                </div>
            </div>
        </div>
    </div>
</div>







<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading bg-bronze">
                    <h4 class="text-center text-white"><b>-BASIC-</b></h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <h2><strong>$499.99 <span style="font-size: 18px;">Tour</span></strong></h2>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                  <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Full Scan</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited Web Support</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Web-Page</li>
                </ul>
                <div class="panel-footer bg-white">
                    <a class="btn btn-lg btn-block btn-primary bg-bronze" href="http://www.jquery2dotnet.com"><b>BUY NOW!</b></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading bg-silver">
                    <h4 class="text-center text-white"><b>-PROFFESIONAL-</b></b></h4>
                </div>
                <div class="panel-body text-center">
                    <p class="le99ad">
                        <h2><strong>$599 <span style="font-size: 18px;">Tour</span></strong></h2>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Full Scan</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited Web Support</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Web-Page</li>
                    <li class="list-group-item"><i class="icon-ok text-danger" ></i>Feature Taggings <i class="zmdi zmdi-info text-info"></i></li>
                </ul>
                <div class="panel-footer bg-white">
                    <a class="btn btn-lg btn-block btn-warning bg-silver" href="http://www.jquery2dotnet.com"><b>BUY NOW!</b></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading bg-gold">
                    <h4 class="text-center text-white"><b>-DELUX-</b></h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <h2><strong>$600 <span style="font-size: 18px;">Tour</span></strong></h2>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Full Scan</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited Web Support</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Web-Page</li>
                    <li class="list-group-item"><i class="icon-ok text-danger" ></i>Feature Taggings <i class="zmdi zmdi-info text-info"></i></li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Feature Tagging Revisions</li>
                </ul>
                <div class="panel-footer bg-white">
                    <a class="btn btn-lg btn-block btn-default bg-gold text-white" href="http://www.jquery2dotnet.com"><b>BUY NOW!</b></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container m-t-10 m-b-10">
      <div class="row">
        <div class="col-md-12s">
            <div class="">





              <form class="form-input-flat form-horizontal panel panel-primary well bg-white" role="form">
    <fieldset>

      <!-- Form Name -->
      <legend><b>Property Details</b> <span class="pull-right">Step 1 of 3</span></legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-1 control-label" for="textinput">Line 1</label>
        <div class="col-sm-11">
          <input type="text" placeholder="Address Line 1" class="form-control">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-1 control-label" for="textinput">Line 2</label>
        <div class="col-sm-11">
          <input type="text" placeholder="Address Line 2" class="form-control">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-1 control-label" for="textinput">City</label>
        <div class="col-sm-11">
          <input type="text" placeholder="City" class="form-control">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-1 control-label" for="textinput">State</label>
        <div class="col-sm-5">
          <input type="text" placeholder="State" class="form-control">
        </div>

        <label class="col-sm-1 control-label" for="textinput">Postcode</label>
        <div class="col-sm-5">
          <input type="text" placeholder="Post Code" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="pull-right">
            <button type="submit" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-primary"><i class="zmd-fw zmdi zmdi-long-arrow-left"></i> </button>
            <button type="submit" class="btn btn-primary"><i class="zmd-fw zmdi zmdi-long-arrow-right"></i> </button>
          </div>
        </div>
      </div>

    </fieldset>
  </form>






            </div>
        </div>
    </div>
</div>

<div ng-include src="'../page_apps/business/snippets/bits/footer.html'"></div>
